
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #212121;
  color: #ffffff;
}


